.recipe_image {
  margin-top: 20px;
  margin: 0 30px;
}

.recipe_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Open Sans";
  font-size: 1.4rem;
  margin-left: 50px;
  color: #222328;
}
.recipe_para {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Open Sans";
  margin-left: 50px;
  width: 350px;
}
