.Reviews_header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.Review_items {
  padding: 20px;
  margin: 20px;
}
.Review_items h2 {
  margin: 40px 0;
  font-size: 3rem;
  font-family: "Reey-Regular";
  font-weight: 300;
  color: #222328;
}
.Review_items p {
  width: 300px;
}
